<div class="container col-md-6 col-md-offset-3">
    <%= form_for(project) do |f| %>
    <% if project.errors.any? %>
        <div class="alert alert-warning" id="error_explanation">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <div class="field form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="field form-group">
        <%= f.label "Type" %>
        <%= f.text_field :project_type, class: 'form-control' %>
    </div>

    <div class="field form-group">
        <%= f.label :location %>
        <%= f.text_field :location, class: 'form-control' %>
    </div>

    <div class="field form-group">
        <%= f.label :time %>
        <%= f.text_field :time, class: 'form-control' %>
    </div>

    <div class="field form-group">
        <%= f.label :discipline %>
        <%= f.text_field :discipline, class: 'form-control' %>
    </div>

    <div class="actions">
        <%= f.submit "Submit", class: 'btn btn-default' %>
    </div>
    <% end %>

<!-- Closing </div> is in each action's page. No more orphaned back buttons -->
